body { 
    /* background-image: url('../image/burger1.jpg') ; */
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: burlywood;  
}

.top-section, .lower-section{
    text-align: center; 
}


#label {
    color: black;
    font-size: 16px;
}

#burger-image{
    margin-top: 10px;
}
#devoured{
    color: brown;
}
#devour{
    color: green;
}

body {
    font-family: 'Arial Black';
}


li {
    padding: 4px;
    font-size: 16px;
}


